
body
  color #555
  margin 0
  font-family 'Arial'
  background-color #F7FAFC
a
  text-decoration none

h1, h2, h3, h4, h5, h6, p, ul
  margin 0
  padding 0
  font-size 100%

.content
  width 300px
  margin 0 auto
  text-align center








